@{
    ViewBag.Title = "Main";
    ViewBag.BodyClass = "dashboard-home";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="main-container" class="container-fluid">
    <!-- Navigation -->
    <div id="navigation" class="">
        <p>Navigation goes here</p>
    </div>
    <!-- Content -->
    <div id="content" class="">
        <p>Content goes here</p>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <p> The Footer</p>
    </footer>
</div>